
{% extends 'base.html' %}

{% block title %} Blog nuevo {% endblock %}
{% block content %}
<div class="containe">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-2">

            </div>
        <div class="col-sm-8">
{% if object_list %}
          {% for person in object_list %}
                <div>
                    {{ person.nombre }} -- {{ person.apellido }} --
                    {{ person.edad }}  -- {{ person.telefono }} --
                    {{ person.ocupacion }} -- {{ person.ciudad }} --
                    {{ person.disponibilidad }} -- {{ person.franjaHoraria }}
                      <a href="{% url  'voluntario:ver_person' person.id %}">Ver Detalle</a>
                </div>
          {% endfor %}
{% endif %}
</div>


<div class="col-sm-2">
  <form method="post" action="{% url "voluntario:list_filter_person" %}">
     {% csrf_token %}
     <br><br>
      {{ form }}
      <button type="submit">Search</button>
  </form>
 </div>
 </div>
 </div>
</div>
{% endblock content %}
