{% extends 'base.html' %}

{% block title %}  Detalle {% endblock %}
{% block content %}
{% if object %}
          <div>
                    {{ object.nombre }} -- {{ object.apellido }} --
                    {{ object.edad }}  -- {{ object.telefono }} --
                    {{ object.ocupacion }} -- {{ object.ciudad }} --
                    {{ object.disponibilidad }} -- {{ object.franjaHoraria }}

          </div>
          {% if request.user.is_authenticated%}
              <a href="{% url  'voluntario:edit_person' object.id %}">Edit</a>
              <a href="{% url  'voluntario:borrar_person' object.id %}">Borrar</a>
          {% endif %}
          <a href="{% url  'voluntario:home' %}">Volver</a>
{% endif %}
{% endblock content %}
